{% extends "common.html" %}
    {% block title %} Tstore-products {% endblock title %}
    {% block content %}
    {% load static %}

    <div class="container my-2 col-10 col-md-4 border p-3 rounded">
        <h3 class="text-center">Product Form</h3>
        <form action="{% url "add-product" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="Title" class="form-control mb-2" name='title'>
            <textarea name="description" id="" placeholder="Description" class="form-control mb-2"></textarea>
            <input type="number" placeholder="Price" class="form-control mb-2" name='price'>
            <input type="number" placeholder="Quantity" class="form-control mb-2" name='quantity'>
            <label for="">Product Image</label>
            <input type="file" class="form-control mb-2" name='image'>
            <button class="btn btn-dark">Create</button>
        </form>
    </div>

    {% endblock %}