{% extends "common.html" %}
    {% block title %} Tstore-product-{{product.title}} {% endblock title %}
    {% block content %}
    {% load static %}

        <div class="container my-2">
            <div class="card col-10 col-md-6 m-auto">
                {% if product.image %}
                    <img src="{{product.image.url}}" class="card-img-top" alt="...">
                {% else %}
                    <img src="" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">{{product.description}}</p>
                    <div class="d-flex justify-content-between">
                        <p>#{{product.price}}</p>
                        <p>{{product.quantity}} left</p>
                    </div>
                    <a href="{% url "add-to-cart" product.id %}" class="btn btn-dark">Add to cart</a>

                    {% if request.user.is_staff %}
                    <hr>
                    <a href="{% url "edit-product" product.id %}" class="btn btn-primary">Edit</a>

                    <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteProduct{{product.id}}">Delete</button>
                    {% endif %}


                    <!-- Modal -->
                    <div class="modal fade" id="deleteProduct{{product.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete {{product.title}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete {{product.title}}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url "delete-product" product.id %}" class="btn btn-danger">Delete</a>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}